{% extends 'base.html' %}

{% block title %}Index Page{% endblock %}

{% block content %}


<h3 class="text-center p-3"> Carrier Dashboard</h3>
<!-- <div class="container d-flex justify-content-center align-items-center my-5" >
        <div class="col-12 col-md-6">
        </div>
    </div> -->

<div class="d-flex flex-wrap justify-content-around align-items-center justify-content-center p-5">
    <div class="dashboard rounded-2"><a href="{{url_for('AllFreightInCarrier')}}"><img src="../static/images/lookup image.avif" alt=""></a></div>
     <!-- <div class="dashboard "><img src="../static/images/lookup image.avif" alt=""></div> -->
     <div class="dashboard rounded-2"><a href="{{url_for('user_orders')}}">order placed </a></div>
   
</div>



{% endblock %}