{#
{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container col-md-6 align-items-center">
    <h2 class="text-center mt-4">Change Password</h2>
    <form id="changePasswordForm" class="shadow p-3" method="POST" action="{{ url_for('update_forgot_password') }}">
        <div class="mb-3">
            <label for="new_password" class="form-label">New Password</label>
            <input type="password" class="form-control" id="new_password" name="new_password" required>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn text-white" style="background-color: blueviolet;">Change Password</button>
        </div>
    </form>
</div>
{% endblock %}
#}