{% extends 'base.html' %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="container col-md-6 align-items-center">
    <h2 class="text-center mt-4">Forgot Password</h2>
    <form id="forgotPasswordForm" class="shadow p-3" onsubmit="return submitForgotPasswordForm(event)">
        <div class="mb-3">
            <label for="email" class="form-label">Email <span class="required">*</span></label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="d-grid">
            <button type="submit" class="btn text-white" style="background-color: blueviolet;">Send OTP</button>
        </div>
    </form>
</div>

<script>
    async function submitForgotPasswordForm(event) {
        event.preventDefault();

        const form = event.target;
        const formData = new FormData(form);

        try {
            const response = await fetch('/send-password-reset-otp', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ email: formData.get('email') }),
            });

            const result = await response.json();
            if (response.ok) {
                alert('OTP sent to your email.');
                window.location.href = '/verify-password-reset-otp';
            } else {
                alert(result.msg);
            }
        } catch (error) {
            console.error('Error:', error);
            alert('An error occurred');
        }
    }
</script>
{% endblock %}