{% extends 'base.html' %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="container col-md-6 align-items-center ">
    <h2 class="text-center mt-4">Forgot Password</h2>
    <form method="POST" class="shadow p-3" action="{{ url_for('forgot_password_page') }}">
        <div class="mb-3">
            <label for="mobile_number" class="form-label">Enter registered Email</label>
            <input type="text" class="form-control" id="mobile_number" name="mobile_number" required>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn text-white" style="background-color: blueviolet;">Send OTP</button>
        </div>
    </form>
</div>
{% endblock %}
