{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container col-md-6 align-items-center">

    <h2 class="text-center mt-4">Login</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert-container">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <form id="loginForm" class="shadow p-3" method="POST" action="{{ url_for('login') }}" onsubmit="return validateLoginForm()">
        <div class="mb-3">
            <label for="Id" class="form-label">Login ID</label>
            <input type="text" class="form-control" id="Id" name="Id">
            <p id="loginIdError" class="text-danger"></p>
        </div>
        <div class="mb-3 position-relative">
            <label for="Password" class="form-label">Password</label>
            <div class="input-group">
                <input type="password" class="form-control" id="Password" name="Password" pattern=".{8,}" title="Password must be at least 8 characters long">
                <span class="input-group-text eye-icon" onclick="togglePasswordVisibility('Password')">&#128065;</span>
            </div>
            <p id="passwordError" class="text-danger"></p>
        </div>
        <div class="d-grid">
            <p class=""><a href="{{ url_for('forgot_password_page') }}">Forgot Password</a></p>
            <button type="submit" class="btn text-white" style="background-color: blueviolet;">Send OTP</button>
        </div>
        <p class="text-center pt-3">Don't have an account? <a href="{{url_for('registor_page')}}">Sign Up</a></p>
    </form>
</div>

<script>
    function togglePasswordVisibility(fieldId) {
        const field = document.getElementById(fieldId);
        if (field.type === 'password') {
            field.type = 'text';
        } else {
            field.type = 'password';
        }
    }

    function validateLoginForm() {
        const loginIdInput = document.getElementById('Id');
        const passwordInput = document.getElementById('Password');
        // const loginIdPattern = /^[a-zA-Z0-9_]{5,20}$/;
        const passwordPattern = /.{8,}/;
        const loginIdError = document.getElementById('loginIdError');
        const passwordError = document.getElementById('passwordError');

        if (!loginIdInput.value) {
            loginIdError.textContent = 'Please enter login id';
            return false;
        }
        // if (!loginIdPattern.test(loginIdInput.value)) {
        //     loginIdError.textContent = 'Please enter login id';
        //     return false;
        // }

        if (!passwordPattern.test(passwordInput.value)) {
            passwordError.textContent = 'Please enter password';
            return false;
        }

        loginIdError.textContent = '';
        passwordError.textContent = '';
        return true;
    }
</script>

<style>
    .input-group {
        position: relative;
    }
    
    .eye-icon {
        position: absolute;
        right: 0.5px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 2;
    }
</style>
{% endblock %}