{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="container col-md-6 align-items-center">
    <h2 class="text-center mt-4">Reset Password</h2>
    <form id="resetPasswordForm" class="shadow p-3" onsubmit="return submitResetPasswordForm(event)">
        <!-- <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email">
        </div> -->
        <div class="mb-3">
            <label for="new_password" class="form-label">New Password</label>
            <input type="password" class="form-control" id="new_password" name="new_password">
        </div>
        <div class="d-grid">
            <button type="submit" class="btn text-white" style="background-color: blueviolet;">Reset Password</button>
        </div>
    </form>
</div>

<script>
    async function submitResetPasswordForm(event) {
        event.preventDefault();

        const form = event.target;
        const formData = new FormData(form);

        try {
            const response = await fetch('/reset_password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    email: formData.get('email'),
                    new_password: formData.get('new_password')
                }),
            });

            const result = await response.json();
            if (response.ok) {
                alert('Password reset successful.');
                window.location.href = result.redirect_url;
            } else {
                alert(result.msg);
            }
        } catch (error) {
            console.error('Error:', error);
            alert('An error occurred');
        }
    }
</script>
{% endblock %}
