{% extends 'base.html' %}

{% block title %}Verify OTP{% endblock %}

{% block content %}
<div class="container col-md-6 align-items-center">
    <h2 class="text-center mt-4">Verify OTP</h2>
    <form id="verifyOtpForm" class="shadow p-3" onsubmit="return submitVerifyOtpForm(event)">
        <!-- <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email">
        </div> -->
        <div class="mb-3">
            <label for="otp" class="form-label">OTP</label>
            <input type="text" class="form-control" id="otp" name="otp">
        </div>
        <div class="d-grid">
            <button type="submit" class="btn text-white" style="background-color: blueviolet;">Verify OTP</button>
        </div>
    </form>
</div>

<script>
    async function submitVerifyOtpForm(event) {
        event.preventDefault();

        const form = event.target;
        const formData = new FormData(form);

        try {
            const response = await fetch('/verify-password-reset-otp', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    email: formData.get('email'),
                    otp: formData.get('otp')
                }),
            });

            const result = await response.json();
            if (response.ok) {
                alert('OTP verified.');
                window.location.href = result.redirect_url;
            } else {
                alert(result.msg);
            }
        } catch (error) {
            console.error('Error:', error);
            alert('An error occurred');
        }
    }
</script>
{% endblock %}